{{ form_start(form) }}
    {{ form_row(form.nom, {'attr': {'style': 'color: white;', 'class': 'form-control'}, 'label_attr': {'style': 'color: white;'}}) }}
    {{ form_row(form.prenom, {'attr': {'style': 'color: white;', 'class': 'form-control'}, 'label_attr': {'style': 'color: white;'}}) }}
    {{ form_row(form.username, {'attr': {'style': 'color: white;', 'class': 'form-control'}, 'label_attr': {'style': 'color: white;'}}) }}
    {{ form_row(form.plainPassword, {'attr': {'style': 'color: white;', 'class': 'form-control'}, 'label_attr': {'style': 'color: white;'}}) }}
    {{ form_row(form.nbPlaceBouteillle, {'attr': {'style': 'color: white;-moz-appearance: textfield;', 'class': 'form-control'}, 'label_attr': {'style': 'color: white;'}}) }}
    {{ form_row(form.email, {'attr': {'style': 'color: white;', 'class': 'form-control'}, 'label_attr': {'style': 'color: white;'}}) }}

    <div class="row g-0 align-items-center">
        <div class="col-4 text-left">
            <button class="btn btn-primary">{{ button_label|default('Sauvegarder') }}</button>
        </div>
        <div class="col-4 text-center">
            <a href="{{ path('app_utilisateur') }}" class="btn btn-primary">Page Précédente</a>
        </div>
    </div>
{{ form_end(form) }}