<h1>Détails du vin</h1>

<div>
    <h3>{{ vin.nom }}</h3>
    <p>Année : {{ vin.annee }}</p>
    <p>Format en cl : {{ vin.formatCl }}</p>
    <p>Robe : {{ vin.robe }}</p>
    <p>Teneur en sucre : {{ vin.teneurEnSucre }}</p>
    {# note moyenne du produit #}
    {# listes des commentaires s'il y en a #}
</div>
