{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% include 'navBar.html.twig' %}

    {% include 'homepageTemplate/filter.html.twig' %}

    <h1>Liste des vins</h1>    
    {% for vin in pagination %}
        <ul>
            <li>{{ vin.nom }}</li>
            <li>{{ vin.annee }}</li>
            <li>{{ vin.format_cl }}</li>
            <li>{{ vin.couleur_robe }}</li>
            <li>{{ vin.gout }}</li>

        </ul>
    {% endfor %}

    {% include 'homepageTemplate/pagination.html.twig' %}
{% endblock %}
