{% block body %}
{# Formulaire de filtres #}
<div class="text-end">
    <form method="get" action="{{ path('filtre') }}">
        <div class="form-group filter-group text-center">
            <label for="annee">Année :</label>
            <select name="annee" id="annee" class="form-control">
                <option value="">Tous</option>
                {% for annee in annees %}
                    <option value="{{ annee }}">{{ annee }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group filter-group text-center">
            <label for="formatCl">Format :</label>
            <select name="formatCl" id="formatCl" class="form-control">
                <option value="">Tous</option>
                {% for format in formats %}
                    <option value="{{ format }}">{{ format }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group filter-group text-center">
            <label for="robe">Robe :</label>
            <select name="robe" id="robe" class="form-control">
                <option value="">Tous</option>
                <{% for robesT in robes %}
                    <{% for robe in robesT %}
                        <option value="{{ robe }}">{{ robe }}</option>
                    {% endfor %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group filter-group text-center">
            <label for="teneurEnSucre">Teneur en sucre :</label>
            <select name="teneurEnSucre" id="teneurEnSucre" class="form-control">
                <option value="">Tous</option>
                 {% for teneur in teneurEnSucres %}
                    {% for teneurEnSucre in teneur %}
                        <option value="{{ teneurEnSucre }}">{{ teneurEnSucre }}</option>
                    {% endfor %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group filter-group">
            <button type="submit" class="btn btn-primary">Filtrer</button>
        </div>
        <div class="form-group filter-group">
            <a class="btn btn-primary" href="{{ path('homepage') }}">Supprimer les filtres</a>
        </div>
    </form>
</div>
{% endblock %} 