{% extends 'base.html.twig' %}

{% block title %}Cave index{% endblock %}

{% block body %}
    <h1>Cave index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Vin</th>
                <th>Date d'entré</th>
                <th>Date de sortie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cave in caves %}
            <tr>
                <td>{{ cave.nom }}</td>
                <td>{{ cave.enter_date ? cave.enter_date|date('Y-m-d') : '' }}</td>
                <td>{{ cave.exit_date ? cave.exit_date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_cave_edit', {'id': cave.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cave_new') }}">Create new</a>
{% endblock %}
